src/wsdl/localhost_9128/publicador.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PublicadorService" targetNamespace="http://servicios/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios/" elementFormDefault="unqualified" targetNamespace="http://servicios/" version="1.0">

  <xs:element name="DataAlbum" type="tns:dataAlbum"/>

  <xs:element name="DataCliente" type="tns:dataCliente"/>

  <xs:element name="DataListaReproduccion" type="tns:dataListaReproduccion"/>

  <xs:element name="DataSus" type="tns:dataSus"/>

  <xs:element name="actualizarGenero" type="tns:actualizarGenero"/>

  <xs:element name="actualizarGeneroResponse" type="tns:actualizarGeneroResponse"/>

  <xs:element name="actualizarListaParticular" type="tns:actualizarListaParticular"/>

  <xs:element name="actualizarListaParticularResponse" type="tns:actualizarListaParticularResponse"/>

  <xs:element name="actualizarSuscripcion" type="tns:actualizarSuscripcion"/>

  <xs:element name="actualizarSuscripcionResponse" type="tns:actualizarSuscripcionResponse"/>

  <xs:element name="actualizarTema" type="tns:actualizarTema"/>

  <xs:element name="actualizarTemaResponse" type="tns:actualizarTemaResponse"/>

  <xs:element name="agregarAlbum" type="tns:agregarAlbum"/>

  <xs:element name="agregarAlbumEnFav" type="tns:agregarAlbumEnFav"/>

  <xs:element name="agregarAlbumEnFavResponse" type="tns:agregarAlbumEnFavResponse"/>

  <xs:element name="agregarAlbumResponse" type="tns:agregarAlbumResponse"/>

  <xs:element name="agregarArtista" type="tns:agregarArtista"/>

  <xs:element name="agregarArtistaResponse" type="tns:agregarArtistaResponse"/>

  <xs:element name="agregarCliente" type="tns:agregarCliente"/>

  <xs:element name="agregarClienteResponse" type="tns:agregarClienteResponse"/>

  <xs:element name="agregarListaEnFav" type="tns:agregarListaEnFav"/>

  <xs:element name="agregarListaEnFavResponse" type="tns:agregarListaEnFavResponse"/>

  <xs:element name="agregarRegistro" type="tns:agregarRegistro"/>

  <xs:element name="agregarRegistroResponse" type="tns:agregarRegistroResponse"/>

  <xs:element name="agregarSuscripcion" type="tns:agregarSuscripcion"/>

  <xs:element name="agregarSuscripcionResponse" type="tns:agregarSuscripcionResponse"/>

  <xs:element name="agregarTemaALista" type="tns:agregarTemaALista"/>

  <xs:element name="agregarTemaAListaResponse" type="tns:agregarTemaAListaResponse"/>

  <xs:element name="agregarTemaEnFav" type="tns:agregarTemaEnFav"/>

  <xs:element name="agregarTemaEnFavResponse" type="tns:agregarTemaEnFavResponse"/>

  <xs:element name="checkAlbumAvailability" type="tns:checkAlbumAvailability"/>

  <xs:element name="checkAlbumAvailabilityResponse" type="tns:checkAlbumAvailabilityResponse"/>

  <xs:element name="checkNicknameAvailability" type="tns:checkNicknameAvailability"/>

  <xs:element name="checkNicknameAvailabilityResponse" type="tns:checkNicknameAvailabilityResponse"/>

  <xs:element name="checkSiEsGenero" type="tns:checkSiEsGenero"/>

  <xs:element name="checkSiEsGeneroResponse" type="tns:checkSiEsGeneroResponse"/>

  <xs:element name="checkUCorreoAvailability" type="tns:checkUCorreoAvailability"/>

  <xs:element name="checkUCorreoAvailabilityResponse" type="tns:checkUCorreoAvailabilityResponse"/>

  <xs:element name="corroborarAlbumEnFav" type="tns:corroborarAlbumEnFav"/>

  <xs:element name="corroborarAlbumEnFavResponse" type="tns:corroborarAlbumEnFavResponse"/>

  <xs:element name="corroborarListaEnFav" type="tns:corroborarListaEnFav"/>

  <xs:element name="corroborarListaEnFavResponse" type="tns:corroborarListaEnFavResponse"/>

  <xs:element name="corroborarTemaEnFav" type="tns:corroborarTemaEnFav"/>

  <xs:element name="corroborarTemaEnFavResponse" type="tns:corroborarTemaEnFavResponse"/>

  <xs:element name="crearListaParticular" type="tns:crearListaParticular"/>

  <xs:element name="crearListaParticularResponse" type="tns:crearListaParticularResponse"/>

  <xs:element name="crearTemaCasiCompleto" type="tns:crearTemaCasiCompleto"/>

  <xs:element name="crearTemaCasiCompletoResponse" type="tns:crearTemaCasiCompletoResponse"/>

  <xs:element name="dataErrorBundle" type="tns:dataErrorBundle"/>

  <xs:element name="dataUsuario" type="tns:dataUsuario"/>

  <xs:element name="dejarDeSeguirUsuario" type="tns:dejarDeSeguirUsuario"/>

  <xs:element name="dejarDeSeguirUsuarioResponse" type="tns:dejarDeSeguirUsuarioResponse"/>

  <xs:element name="devolverInformacionListaRepro" type="tns:devolverInformacionListaRepro"/>

  <xs:element name="devolverInformacionListaReproResponse" type="tns:devolverInformacionListaReproResponse"/>

  <xs:element name="devolverRegistroTema" type="tns:devolverRegistroTema"/>

  <xs:element name="devolverRegistroTemaResponse" type="tns:devolverRegistroTemaResponse"/>

  <xs:element name="eliminarAlbumDeFav" type="tns:eliminarAlbumDeFav"/>

  <xs:element name="eliminarAlbumDeFavResponse" type="tns:eliminarAlbumDeFavResponse"/>

  <xs:element name="eliminarListaDeFav" type="tns:eliminarListaDeFav"/>

  <xs:element name="eliminarListaDeFavResponse" type="tns:eliminarListaDeFavResponse"/>

  <xs:element name="eliminarTemaDeFav" type="tns:eliminarTemaDeFav"/>

  <xs:element name="eliminarTemaDeFavResponse" type="tns:eliminarTemaDeFavResponse"/>

  <xs:element name="getSuscripcion" type="tns:getSuscripcion"/>

  <xs:element name="getSuscripcionResponse" type="tns:getSuscripcionResponse"/>

  <xs:element name="getTipoUsuario" type="tns:getTipoUsuario"/>

  <xs:element name="getTipoUsuarioResponse" type="tns:getTipoUsuarioResponse"/>

  <xs:element name="hiroshimaYNagasaki" type="tns:hiroshimaYNagasaki"/>

  <xs:element name="hiroshimaYNagasakiResponse" type="tns:hiroshimaYNagasakiResponse"/>

  <xs:element name="iniciarSesion" type="tns:iniciarSesion"/>

  <xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse"/>

  <xs:element name="obtenerDataAlbum" type="tns:obtenerDataAlbum"/>

  <xs:element name="obtenerDataAlbumResponse" type="tns:obtenerDataAlbumResponse"/>

  <xs:element name="obtenerDataAlbumes" type="tns:obtenerDataAlbumes"/>

  <xs:element name="obtenerDataAlbumesPorGenero" type="tns:obtenerDataAlbumesPorGenero"/>

  <xs:element name="obtenerDataAlbumesPorGeneroResponse" type="tns:obtenerDataAlbumesPorGeneroResponse"/>

  <xs:element name="obtenerDataAlbumesResponse" type="tns:obtenerDataAlbumesResponse"/>

  <xs:element name="obtenerDataArtistas" type="tns:obtenerDataArtistas"/>

  <xs:element name="obtenerDataArtistasResponse" type="tns:obtenerDataArtistasResponse"/>

  <xs:element name="obtenerDataClientes" type="tns:obtenerDataClientes"/>

  <xs:element name="obtenerDataClientesResponse" type="tns:obtenerDataClientesResponse"/>

  <xs:element name="obtenerDataListaParticualaresPublicas" type="tns:obtenerDataListaParticualaresPublicas"/>

  <xs:element name="obtenerDataListaParticualaresPublicasResponse" type="tns:obtenerDataListaParticualaresPublicasResponse"/>

  <xs:element name="obtenerDataListaPorDefecto" type="tns:obtenerDataListaPorDefecto"/>

  <xs:element name="obtenerDataListaPorDefectoResponse" type="tns:obtenerDataListaPorDefectoResponse"/>

  <xs:element name="obtenerDataListasPorGenero" type="tns:obtenerDataListasPorGenero"/>

  <xs:element name="obtenerDataListasPorGeneroResponse" type="tns:obtenerDataListasPorGeneroResponse"/>

  <xs:element name="obtenerDataSuscripcionPorID" type="tns:obtenerDataSuscripcionPorID"/>

  <xs:element name="obtenerDataSuscripcionPorIDResponse" type="tns:obtenerDataSuscripcionPorIDResponse"/>

  <xs:element name="obtenerDataSuscripciones" type="tns:obtenerDataSuscripciones"/>

  <xs:element name="obtenerDataSuscripcionesResponse" type="tns:obtenerDataSuscripcionesResponse"/>

  <xs:element name="obtenerGeneros" type="tns:obtenerGeneros"/>

  <xs:element name="obtenerGenerosResponse" type="tns:obtenerGenerosResponse"/>

  <xs:element name="obtenerLos100MasPopulares" type="tns:obtenerLos100MasPopulares"/>

  <xs:element name="obtenerLos100MasPopularesResponse" type="tns:obtenerLos100MasPopularesResponse"/>

  <xs:element name="obtenerNombreAlbumesFavCliente" type="tns:obtenerNombreAlbumesFavCliente"/>

  <xs:element name="obtenerNombreAlbumesFavClienteResponse" type="tns:obtenerNombreAlbumesFavClienteResponse"/>

  <xs:element name="obtenerNombreListasFavCliente" type="tns:obtenerNombreListasFavCliente"/>

  <xs:element name="obtenerNombreListasFavClienteResponse" type="tns:obtenerNombreListasFavClienteResponse"/>

  <xs:element name="obtenerNombreTemasFavCliente" type="tns:obtenerNombreTemasFavCliente"/>

  <xs:element name="obtenerNombreTemasFavClienteResponse" type="tns:obtenerNombreTemasFavClienteResponse"/>

  <xs:element name="obtenerSeguidoresDe" type="tns:obtenerSeguidoresDe"/>

  <xs:element name="obtenerSeguidoresDeResponse" type="tns:obtenerSeguidoresDeResponse"/>

  <xs:element name="obtenerSeguidosDe" type="tns:obtenerSeguidosDe"/>

  <xs:element name="obtenerSeguidosDeResponse" type="tns:obtenerSeguidosDeResponse"/>

  <xs:element name="obtenerTemasDeAlbumes" type="tns:obtenerTemasDeAlbumes"/>

  <xs:element name="obtenerTemasDeAlbumesResponse" type="tns:obtenerTemasDeAlbumesResponse"/>

  <xs:element name="obtenerTemasDeListas" type="tns:obtenerTemasDeListas"/>

  <xs:element name="obtenerTemasDeListasResponse" type="tns:obtenerTemasDeListasResponse"/>

  <xs:element name="publicarLista" type="tns:publicarLista"/>

  <xs:element name="publicarListaResponse" type="tns:publicarListaResponse"/>

  <xs:element name="retornarAlbumesDelGenero" type="tns:retornarAlbumesDelGenero"/>

  <xs:element name="retornarAlbumesDelGeneroResponse" type="tns:retornarAlbumesDelGeneroResponse"/>

  <xs:element name="retornarCliente" type="tns:retornarCliente"/>

  <xs:element name="retornarClienteResponse" type="tns:retornarClienteResponse"/>

  <xs:element name="retornarDataListaParticular" type="tns:retornarDataListaParticular"/>

  <xs:element name="retornarDataListaParticularResponse" type="tns:retornarDataListaParticularResponse"/>

  <xs:element name="retornarDataListaPorDefecto2" type="tns:retornarDataListaPorDefecto2"/>

  <xs:element name="retornarDataListaPorDefecto2Response" type="tns:retornarDataListaPorDefecto2Response"/>

  <xs:element name="retornarListasParticularesDeCliente" type="tns:retornarListasParticularesDeCliente"/>

  <xs:element name="retornarListasParticularesDeClienteResponse" type="tns:retornarListasParticularesDeClienteResponse"/>

  <xs:element name="retornarTema" type="tns:retornarTema"/>

  <xs:element name="retornarTema2" type="tns:retornarTema2"/>

  <xs:element name="retornarTema2Response" type="tns:retornarTema2Response"/>

  <xs:element name="retornarTemaResponse" type="tns:retornarTemaResponse"/>

  <xs:element name="retornarUsuario" type="tns:retornarUsuario"/>

  <xs:element name="retornarUsuarioResponse" type="tns:retornarUsuarioResponse"/>

  <xs:element name="seguirUsuario" type="tns:seguirUsuario"/>

  <xs:element name="seguirUsuarioResponse" type="tns:seguirUsuarioResponse"/>

  <xs:complexType name="devolverRegistroTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="devolverRegistroTemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:registroTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registroTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="descarga" type="xs:int"/>
      <xs:element minOccurs="0" name="favoritos" type="xs:int"/>
      <xs:element minOccurs="0" name="identificador" type="tns:dtIdTema"/>
      <xs:element minOccurs="0" name="listas" type="xs:int"/>
      <xs:element minOccurs="0" name="repro" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dtIdTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreAlbumTema" type="xs:string"/>
      <xs:element minOccurs="0" name="nombreTema" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarListaParticular">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataListaParticular"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataListaParticular">
    <xs:complexContent>
      <xs:extension base="tns:dataListaReproduccion">
        <xs:sequence>
          <xs:element name="visibilidad" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataListaReproduccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="foto" type="xs:string"/>
      <xs:element minOccurs="0" name="creador" type="tns:dataCliente"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="temas" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataCliente">
    <xs:complexContent>
      <xs:extension base="tns:dataUsuario">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="seguidos" type="tns:dataUsuario"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="temasFavoritos" type="tns:dataTema"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="albumesFavoritos" type="tns:dataAlbum"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="listasFavoritas" type="tns:dataListaReproduccion"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="dtype" type="xs:string"/>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element minOccurs="0" name="contra" type="xs:string"/>
      <xs:element minOccurs="0" name="correo" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaNac" type="xs:string"/>
      <xs:element minOccurs="0" name="foto" type="xs:string"/>
      <xs:element minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="access" type="xs:string"/>
      <xs:element minOccurs="0" name="album" type="tns:dataAlbum"/>
      <xs:element minOccurs="0" name="archivo" type="xs:string"/>
      <xs:element minOccurs="0" name="duracion" type="xs:int"/>
      <xs:element minOccurs="0" name="nickname" type="xs:string"/>
      <xs:element minOccurs="0" name="nomAlb" type="xs:string"/>
      <xs:element minOccurs="0" name="pos" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="imagen" type="xs:string"/>
      <xs:element name="anioCreacion" type="xs:int"/>
      <xs:element minOccurs="0" name="creador" type="tns:dataArtista"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="generos" type="tns:dataGenero"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="temas" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataArtista">
    <xs:complexContent>
      <xs:extension base="tns:dataUsuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="biografia" type="xs:string"/>
          <xs:element minOccurs="0" name="dirWeb" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarListaParticularResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerTemasDeAlbumes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerTemasDeAlbumesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataListasPorGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataListasPorGeneroResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataListaPorDefecto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataListaPorDefecto">
    <xs:complexContent>
      <xs:extension base="tns:dataListaReproduccion">
        <xs:sequence>
          <xs:element minOccurs="0" name="genero" type="tns:dataGenero"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="retornarListasParticularesDeCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarListasParticularesDeClienteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataListaParticular"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publicarLista">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publicarListaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearTemaCasiCompleto">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:int"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearTemaCasiCompletoResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerNombreTemasFavCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerNombreTemasFavClienteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerLos100MasPopulares">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerLos100MasPopularesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:registroTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dejarDeSeguirUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dejarDeSeguirUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerTemasDeListas">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerTemasDeListasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarListaDeFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataListaReproduccion"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarListaDeFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbumesPorGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbumesPorGeneroResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarDataListaPorDefecto2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarDataListaPorDefecto2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataListaPorDefecto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataGenero"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarGeneroResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="retornarAlbumesDelGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarAlbumesDelGeneroResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarListaEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataListaReproduccion"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarListaEnFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="seguirUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="seguirUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarTemaALista">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarTemaAListaResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="retornarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataCliente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkSiEsGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkSiEsGeneroResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarSuscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarSuscripcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataErrorBundle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataErrorBundle">
    <xs:sequence>
      <xs:element minOccurs="0" name="numero" type="xs:int"/>
      <xs:element name="valor" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarTemaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarTemaEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarTemaEnFavResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataArtistas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataArtistasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataArtista"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerSeguidoresDe">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerSeguidoresDeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSuscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSuscripcionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataSuscripciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataSuscripcionesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataSus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dataSus">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="userNick" type="xs:string"/>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element minOccurs="0" name="ultiFechaHabi" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoSus" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hiroshimaYNagasaki">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="hiroshimaYNagasakiResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataSuscripcionPorID">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataSuscripcionPorIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataSus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarClienteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataErrorBundle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerNombreListasFavCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerNombreListasFavClienteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarTemaDeFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarTemaDeFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="actualizarSuscripcion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarSuscripcionResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="retornarTema2">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarTema2Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerGeneros">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerGenerosResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarAlbumEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarAlbumEnFavResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbumResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarAlbumEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarAlbumEnFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="retornarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataUsuario"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataClientes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataClientesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataCliente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTipoUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="devolverInformacionListaRepro">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="devolverInformacionListaReproResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataListaReproduccion"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarAlbumDeFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarAlbumDeFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="actualizarTema">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataTema"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actualizarTemaResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="agregarTemaEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:dataCliente"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarTemaEnFavResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="agregarRegistro">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarRegistroResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerNombreAlbumesFavCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerNombreAlbumesFavClienteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarListaEnFav">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="corroborarListaEnFavResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="iniciarSesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="iniciarSesionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataErrorBundle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataListaPorDefecto">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataListaPorDefectoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataListaPorDefecto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element name="arg3" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="arg4" type="tns:dataTema"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarAlbumResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarDataListaParticular">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="retornarDataListaParticularResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataListaParticular"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkNicknameAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkNicknameAvailabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerSeguidosDe">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerSeguidosDeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkAlbumAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkAlbumAvailabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataListaParticualaresPublicas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataListaParticualaresPublicasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataListaParticular"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkUCorreoAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkUCorreoAvailabilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarArtista">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
      <xs:element minOccurs="0" name="arg5" type="xs:string"/>
      <xs:element minOccurs="0" name="arg6" type="xs:string"/>
      <xs:element minOccurs="0" name="arg7" type="xs:string"/>
      <xs:element minOccurs="0" name="arg8" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarArtistaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dataErrorBundle"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbumes">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerDataAlbumesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dataAlbum"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearListaParticular">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="tns:dataCliente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="crearListaParticularResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="devolverRegistroTema">
    <wsdl:part element="tns:devolverRegistroTema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarListaParticular">
    <wsdl:part element="tns:actualizarListaParticular" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerTemasDeAlbumes">
    <wsdl:part element="tns:obtenerTemasDeAlbumes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarAlbumEnFavResponse">
    <wsdl:part element="tns:corroborarAlbumEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarTema2Response">
    <wsdl:part element="tns:retornarTema2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarListaDeFavResponse">
    <wsdl:part element="tns:eliminarListaDeFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerTemasDeAlbumesResponse">
    <wsdl:part element="tns:obtenerTemasDeAlbumesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarListasParticularesDeClienteResponse">
    <wsdl:part element="tns:retornarListasParticularesDeClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publicarLista">
    <wsdl:part element="tns:publicarLista" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreTemasFavCliente">
    <wsdl:part element="tns:obtenerNombreTemasFavCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerGenerosResponse">
    <wsdl:part element="tns:obtenerGenerosResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dejarDeSeguirUsuario">
    <wsdl:part element="tns:dejarDeSeguirUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devolverRegistroTemaResponse">
    <wsdl:part element="tns:devolverRegistroTemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarListaDeFav">
    <wsdl:part element="tns:eliminarListaDeFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarGenero">
    <wsdl:part element="tns:actualizarGenero" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTipoUsuarioResponse">
    <wsdl:part element="tns:getTipoUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="seguirUsuarioResponse">
    <wsdl:part element="tns:seguirUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarAlbumesDelGenero">
    <wsdl:part element="tns:retornarAlbumesDelGenero" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="seguirUsuario">
    <wsdl:part element="tns:seguirUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreListasFavClienteResponse">
    <wsdl:part element="tns:obtenerNombreListasFavClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarTemaALista">
    <wsdl:part element="tns:agregarTemaALista" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkSiEsGenero">
    <wsdl:part element="tns:checkSiEsGenero" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarTemaEnFav">
    <wsdl:part element="tns:corroborarTemaEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarTemaDeFavResponse">
    <wsdl:part element="tns:eliminarTemaDeFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSeguidoresDe">
    <wsdl:part element="tns:obtenerSeguidoresDe" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerTemasDeListasResponse">
    <wsdl:part element="tns:obtenerTemasDeListasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbumesPorGeneroResponse">
    <wsdl:part element="tns:obtenerDataAlbumesPorGeneroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataSuscripciones">
    <wsdl:part element="tns:obtenerDataSuscripciones" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarDataListaParticularResponse">
    <wsdl:part element="tns:retornarDataListaParticularResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreListasFavCliente">
    <wsdl:part element="tns:obtenerNombreListasFavCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarAlbumEnFavResponse">
    <wsdl:part element="tns:agregarAlbumEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarArtistaResponse">
    <wsdl:part element="tns:agregarArtistaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="publicarListaResponse">
    <wsdl:part element="tns:publicarListaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarTemaDeFav">
    <wsdl:part element="tns:eliminarTemaDeFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarSuscripcion">
    <wsdl:part element="tns:actualizarSuscripcion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSeguidosDeResponse">
    <wsdl:part element="tns:obtenerSeguidosDeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerGeneros">
    <wsdl:part element="tns:obtenerGeneros" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbumResponse">
    <wsdl:part element="tns:obtenerDataAlbumResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarTemaEnFavResponse">
    <wsdl:part element="tns:agregarTemaEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarAlbumEnFav">
    <wsdl:part element="tns:agregarAlbumEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTipoUsuario">
    <wsdl:part element="tns:getTipoUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarListaEnFavResponse">
    <wsdl:part element="tns:corroborarListaEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkUCorreoAvailabilityResponse">
    <wsdl:part element="tns:checkUCorreoAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerLos100MasPopularesResponse">
    <wsdl:part element="tns:obtenerLos100MasPopularesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarSuscripcionResponse">
    <wsdl:part element="tns:actualizarSuscripcionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkSiEsGeneroResponse">
    <wsdl:part element="tns:checkSiEsGeneroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devolverInformacionListaRepro">
    <wsdl:part element="tns:devolverInformacionListaRepro" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarRegistro">
    <wsdl:part element="tns:agregarRegistro" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSeguidoresDeResponse">
    <wsdl:part element="tns:obtenerSeguidoresDeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarTemaEnFavResponse">
    <wsdl:part element="tns:corroborarTemaEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSuscripcionResponse">
    <wsdl:part element="tns:getSuscripcionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarListaEnFav">
    <wsdl:part element="tns:corroborarListaEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciarSesion">
    <wsdl:part element="tns:iniciarSesion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciarSesionResponse">
    <wsdl:part element="tns:iniciarSesionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarAlbum">
    <wsdl:part element="tns:agregarAlbum" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarDataListaParticular">
    <wsdl:part element="tns:retornarDataListaParticular" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAlbumAvailabilityResponse">
    <wsdl:part element="tns:checkAlbumAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAlbumAvailability">
    <wsdl:part element="tns:checkAlbumAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkUCorreoAvailability">
    <wsdl:part element="tns:checkUCorreoAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbumes">
    <wsdl:part element="tns:obtenerDataAlbumes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbumesResponse">
    <wsdl:part element="tns:obtenerDataAlbumesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarListaParticularResponse">
    <wsdl:part element="tns:actualizarListaParticularResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hiroshimaYNagasakiResponse">
    <wsdl:part element="tns:hiroshimaYNagasakiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarClienteResponse">
    <wsdl:part element="tns:agregarClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreAlbumesFavClienteResponse">
    <wsdl:part element="tns:obtenerNombreAlbumesFavClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListasPorGenero">
    <wsdl:part element="tns:obtenerDataListasPorGenero" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataArtistasResponse">
    <wsdl:part element="tns:obtenerDataArtistasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarListasParticularesDeCliente">
    <wsdl:part element="tns:retornarListasParticularesDeCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataSuscripcionesResponse">
    <wsdl:part element="tns:obtenerDataSuscripcionesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearTemaCasiCompleto">
    <wsdl:part element="tns:crearTemaCasiCompleto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerLos100MasPopulares">
    <wsdl:part element="tns:obtenerLos100MasPopulares" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarListaEnFavResponse">
    <wsdl:part element="tns:agregarListaEnFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerTemasDeListas">
    <wsdl:part element="tns:obtenerTemasDeListas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearTemaCasiCompletoResponse">
    <wsdl:part element="tns:crearTemaCasiCompletoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbumesPorGenero">
    <wsdl:part element="tns:obtenerDataAlbumesPorGenero" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarDataListaPorDefecto2">
    <wsdl:part element="tns:retornarDataListaPorDefecto2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarDataListaPorDefecto2Response">
    <wsdl:part element="tns:retornarDataListaPorDefecto2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataClientesResponse">
    <wsdl:part element="tns:obtenerDataClientesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarListaEnFav">
    <wsdl:part element="tns:agregarListaEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarUsuarioResponse">
    <wsdl:part element="tns:retornarUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarClienteResponse">
    <wsdl:part element="tns:retornarClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarCliente">
    <wsdl:part element="tns:retornarCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListasPorGeneroResponse">
    <wsdl:part element="tns:obtenerDataListasPorGeneroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarSuscripcion">
    <wsdl:part element="tns:agregarSuscripcion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkNicknameAvailabilityResponse">
    <wsdl:part element="tns:checkNicknameAvailabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarSuscripcionResponse">
    <wsdl:part element="tns:agregarSuscripcionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarRegistroResponse">
    <wsdl:part element="tns:agregarRegistroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarGeneroResponse">
    <wsdl:part element="tns:actualizarGeneroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dejarDeSeguirUsuarioResponse">
    <wsdl:part element="tns:dejarDeSeguirUsuarioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarTema">
    <wsdl:part element="tns:retornarTema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataArtistas">
    <wsdl:part element="tns:obtenerDataArtistas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSuscripcion">
    <wsdl:part element="tns:getSuscripcion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataSuscripcionPorIDResponse">
    <wsdl:part element="tns:obtenerDataSuscripcionPorIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarAlbumResponse">
    <wsdl:part element="tns:agregarAlbumResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarAlbumDeFavResponse">
    <wsdl:part element="tns:eliminarAlbumDeFavResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListaPorDefectoResponse">
    <wsdl:part element="tns:obtenerDataListaPorDefectoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearListaParticularResponse">
    <wsdl:part element="tns:crearListaParticularResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hiroshimaYNagasaki">
    <wsdl:part element="tns:hiroshimaYNagasaki" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataSuscripcionPorID">
    <wsdl:part element="tns:obtenerDataSuscripcionPorID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarCliente">
    <wsdl:part element="tns:agregarCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarTema2">
    <wsdl:part element="tns:retornarTema2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="devolverInformacionListaReproResponse">
    <wsdl:part element="tns:devolverInformacionListaReproResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="corroborarAlbumEnFav">
    <wsdl:part element="tns:corroborarAlbumEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarTemaAListaResponse">
    <wsdl:part element="tns:agregarTemaAListaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataAlbum">
    <wsdl:part element="tns:obtenerDataAlbum" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarUsuario">
    <wsdl:part element="tns:retornarUsuario" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataClientes">
    <wsdl:part element="tns:obtenerDataClientes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarTemaResponse">
    <wsdl:part element="tns:retornarTemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreTemasFavClienteResponse">
    <wsdl:part element="tns:obtenerNombreTemasFavClienteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListaParticualaresPublicasResponse">
    <wsdl:part element="tns:obtenerDataListaParticualaresPublicasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarAlbumDeFav">
    <wsdl:part element="tns:eliminarAlbumDeFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarTema">
    <wsdl:part element="tns:actualizarTema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarTemaEnFav">
    <wsdl:part element="tns:agregarTemaEnFav" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerNombreAlbumesFavCliente">
    <wsdl:part element="tns:obtenerNombreAlbumesFavCliente" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListaPorDefecto">
    <wsdl:part element="tns:obtenerDataListaPorDefecto" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retornarAlbumesDelGeneroResponse">
    <wsdl:part element="tns:retornarAlbumesDelGeneroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkNicknameAvailability">
    <wsdl:part element="tns:checkNicknameAvailability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerSeguidosDe">
    <wsdl:part element="tns:obtenerSeguidosDe" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerDataListaParticualaresPublicas">
    <wsdl:part element="tns:obtenerDataListaParticualaresPublicas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarTemaResponse">
    <wsdl:part element="tns:actualizarTemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarArtista">
    <wsdl:part element="tns:agregarArtista" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="crearListaParticular">
    <wsdl:part element="tns:crearListaParticular" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IPublicador">
    <wsdl:operation name="devolverRegistroTema">
      <wsdl:input message="tns:devolverRegistroTema" name="devolverRegistroTema">
    </wsdl:input>
      <wsdl:output message="tns:devolverRegistroTemaResponse" name="devolverRegistroTemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarListaParticular">
      <wsdl:input message="tns:actualizarListaParticular" name="actualizarListaParticular">
    </wsdl:input>
      <wsdl:output message="tns:actualizarListaParticularResponse" name="actualizarListaParticularResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTemasDeAlbumes">
      <wsdl:input message="tns:obtenerTemasDeAlbumes" name="obtenerTemasDeAlbumes">
    </wsdl:input>
      <wsdl:output message="tns:obtenerTemasDeAlbumesResponse" name="obtenerTemasDeAlbumesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListasPorGenero">
      <wsdl:input message="tns:obtenerDataListasPorGenero" name="obtenerDataListasPorGenero">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataListasPorGeneroResponse" name="obtenerDataListasPorGeneroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarListasParticularesDeCliente">
      <wsdl:input message="tns:retornarListasParticularesDeCliente" name="retornarListasParticularesDeCliente">
    </wsdl:input>
      <wsdl:output message="tns:retornarListasParticularesDeClienteResponse" name="retornarListasParticularesDeClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publicarLista">
      <wsdl:input message="tns:publicarLista" name="publicarLista">
    </wsdl:input>
      <wsdl:output message="tns:publicarListaResponse" name="publicarListaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTemaCasiCompleto">
      <wsdl:input message="tns:crearTemaCasiCompleto" name="crearTemaCasiCompleto">
    </wsdl:input>
      <wsdl:output message="tns:crearTemaCasiCompletoResponse" name="crearTemaCasiCompletoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreTemasFavCliente">
      <wsdl:input message="tns:obtenerNombreTemasFavCliente" name="obtenerNombreTemasFavCliente">
    </wsdl:input>
      <wsdl:output message="tns:obtenerNombreTemasFavClienteResponse" name="obtenerNombreTemasFavClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLos100MasPopulares">
      <wsdl:input message="tns:obtenerLos100MasPopulares" name="obtenerLos100MasPopulares">
    </wsdl:input>
      <wsdl:output message="tns:obtenerLos100MasPopularesResponse" name="obtenerLos100MasPopularesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dejarDeSeguirUsuario">
      <wsdl:input message="tns:dejarDeSeguirUsuario" name="dejarDeSeguirUsuario">
    </wsdl:input>
      <wsdl:output message="tns:dejarDeSeguirUsuarioResponse" name="dejarDeSeguirUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTemasDeListas">
      <wsdl:input message="tns:obtenerTemasDeListas" name="obtenerTemasDeListas">
    </wsdl:input>
      <wsdl:output message="tns:obtenerTemasDeListasResponse" name="obtenerTemasDeListasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarListaDeFav">
      <wsdl:input message="tns:eliminarListaDeFav" name="eliminarListaDeFav">
    </wsdl:input>
      <wsdl:output message="tns:eliminarListaDeFavResponse" name="eliminarListaDeFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbumesPorGenero">
      <wsdl:input message="tns:obtenerDataAlbumesPorGenero" name="obtenerDataAlbumesPorGenero">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataAlbumesPorGeneroResponse" name="obtenerDataAlbumesPorGeneroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDataListaPorDefecto2">
      <wsdl:input message="tns:retornarDataListaPorDefecto2" name="retornarDataListaPorDefecto2">
    </wsdl:input>
      <wsdl:output message="tns:retornarDataListaPorDefecto2Response" name="retornarDataListaPorDefecto2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarGenero">
      <wsdl:input message="tns:actualizarGenero" name="actualizarGenero">
    </wsdl:input>
      <wsdl:output message="tns:actualizarGeneroResponse" name="actualizarGeneroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarAlbumesDelGenero">
      <wsdl:input message="tns:retornarAlbumesDelGenero" name="retornarAlbumesDelGenero">
    </wsdl:input>
      <wsdl:output message="tns:retornarAlbumesDelGeneroResponse" name="retornarAlbumesDelGeneroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarListaEnFav">
      <wsdl:input message="tns:agregarListaEnFav" name="agregarListaEnFav">
    </wsdl:input>
      <wsdl:output message="tns:agregarListaEnFavResponse" name="agregarListaEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seguirUsuario">
      <wsdl:input message="tns:seguirUsuario" name="seguirUsuario">
    </wsdl:input>
      <wsdl:output message="tns:seguirUsuarioResponse" name="seguirUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTemaALista">
      <wsdl:input message="tns:agregarTemaALista" name="agregarTemaALista">
    </wsdl:input>
      <wsdl:output message="tns:agregarTemaAListaResponse" name="agregarTemaAListaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarCliente">
      <wsdl:input message="tns:retornarCliente" name="retornarCliente">
    </wsdl:input>
      <wsdl:output message="tns:retornarClienteResponse" name="retornarClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSiEsGenero">
      <wsdl:input message="tns:checkSiEsGenero" name="checkSiEsGenero">
    </wsdl:input>
      <wsdl:output message="tns:checkSiEsGeneroResponse" name="checkSiEsGeneroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarSuscripcion">
      <wsdl:input message="tns:agregarSuscripcion" name="agregarSuscripcion">
    </wsdl:input>
      <wsdl:output message="tns:agregarSuscripcionResponse" name="agregarSuscripcionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarTema">
      <wsdl:input message="tns:retornarTema" name="retornarTema">
    </wsdl:input>
      <wsdl:output message="tns:retornarTemaResponse" name="retornarTemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarTemaEnFav">
      <wsdl:input message="tns:corroborarTemaEnFav" name="corroborarTemaEnFav">
    </wsdl:input>
      <wsdl:output message="tns:corroborarTemaEnFavResponse" name="corroborarTemaEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataArtistas">
      <wsdl:input message="tns:obtenerDataArtistas" name="obtenerDataArtistas">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataArtistasResponse" name="obtenerDataArtistasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerSeguidoresDe">
      <wsdl:input message="tns:obtenerSeguidoresDe" name="obtenerSeguidoresDe">
    </wsdl:input>
      <wsdl:output message="tns:obtenerSeguidoresDeResponse" name="obtenerSeguidoresDeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSuscripcion">
      <wsdl:input message="tns:getSuscripcion" name="getSuscripcion">
    </wsdl:input>
      <wsdl:output message="tns:getSuscripcionResponse" name="getSuscripcionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataSuscripciones">
      <wsdl:input message="tns:obtenerDataSuscripciones" name="obtenerDataSuscripciones">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataSuscripcionesResponse" name="obtenerDataSuscripcionesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hiroshimaYNagasaki">
      <wsdl:input message="tns:hiroshimaYNagasaki" name="hiroshimaYNagasaki">
    </wsdl:input>
      <wsdl:output message="tns:hiroshimaYNagasakiResponse" name="hiroshimaYNagasakiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataSuscripcionPorID">
      <wsdl:input message="tns:obtenerDataSuscripcionPorID" name="obtenerDataSuscripcionPorID">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataSuscripcionPorIDResponse" name="obtenerDataSuscripcionPorIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <wsdl:input message="tns:agregarCliente" name="agregarCliente">
    </wsdl:input>
      <wsdl:output message="tns:agregarClienteResponse" name="agregarClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreListasFavCliente">
      <wsdl:input message="tns:obtenerNombreListasFavCliente" name="obtenerNombreListasFavCliente">
    </wsdl:input>
      <wsdl:output message="tns:obtenerNombreListasFavClienteResponse" name="obtenerNombreListasFavClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTemaDeFav">
      <wsdl:input message="tns:eliminarTemaDeFav" name="eliminarTemaDeFav">
    </wsdl:input>
      <wsdl:output message="tns:eliminarTemaDeFavResponse" name="eliminarTemaDeFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarSuscripcion">
      <wsdl:input message="tns:actualizarSuscripcion" name="actualizarSuscripcion">
    </wsdl:input>
      <wsdl:output message="tns:actualizarSuscripcionResponse" name="actualizarSuscripcionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarTema2">
      <wsdl:input message="tns:retornarTema2" name="retornarTema2">
    </wsdl:input>
      <wsdl:output message="tns:retornarTema2Response" name="retornarTema2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerGeneros">
      <wsdl:input message="tns:obtenerGeneros" name="obtenerGeneros">
    </wsdl:input>
      <wsdl:output message="tns:obtenerGenerosResponse" name="obtenerGenerosResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarAlbumEnFav">
      <wsdl:input message="tns:corroborarAlbumEnFav" name="corroborarAlbumEnFav">
    </wsdl:input>
      <wsdl:output message="tns:corroborarAlbumEnFavResponse" name="corroborarAlbumEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbum">
      <wsdl:input message="tns:obtenerDataAlbum" name="obtenerDataAlbum">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataAlbumResponse" name="obtenerDataAlbumResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlbumEnFav">
      <wsdl:input message="tns:agregarAlbumEnFav" name="agregarAlbumEnFav">
    </wsdl:input>
      <wsdl:output message="tns:agregarAlbumEnFavResponse" name="agregarAlbumEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarUsuario">
      <wsdl:input message="tns:retornarUsuario" name="retornarUsuario">
    </wsdl:input>
      <wsdl:output message="tns:retornarUsuarioResponse" name="retornarUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataClientes">
      <wsdl:input message="tns:obtenerDataClientes" name="obtenerDataClientes">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataClientesResponse" name="obtenerDataClientesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoUsuario">
      <wsdl:input message="tns:getTipoUsuario" name="getTipoUsuario">
    </wsdl:input>
      <wsdl:output message="tns:getTipoUsuarioResponse" name="getTipoUsuarioResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverInformacionListaRepro">
      <wsdl:input message="tns:devolverInformacionListaRepro" name="devolverInformacionListaRepro">
    </wsdl:input>
      <wsdl:output message="tns:devolverInformacionListaReproResponse" name="devolverInformacionListaReproResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAlbumDeFav">
      <wsdl:input message="tns:eliminarAlbumDeFav" name="eliminarAlbumDeFav">
    </wsdl:input>
      <wsdl:output message="tns:eliminarAlbumDeFavResponse" name="eliminarAlbumDeFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTema">
      <wsdl:input message="tns:actualizarTema" name="actualizarTema">
    </wsdl:input>
      <wsdl:output message="tns:actualizarTemaResponse" name="actualizarTemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTemaEnFav">
      <wsdl:input message="tns:agregarTemaEnFav" name="agregarTemaEnFav">
    </wsdl:input>
      <wsdl:output message="tns:agregarTemaEnFavResponse" name="agregarTemaEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarRegistro">
      <wsdl:input message="tns:agregarRegistro" name="agregarRegistro">
    </wsdl:input>
      <wsdl:output message="tns:agregarRegistroResponse" name="agregarRegistroResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreAlbumesFavCliente">
      <wsdl:input message="tns:obtenerNombreAlbumesFavCliente" name="obtenerNombreAlbumesFavCliente">
    </wsdl:input>
      <wsdl:output message="tns:obtenerNombreAlbumesFavClienteResponse" name="obtenerNombreAlbumesFavClienteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarListaEnFav">
      <wsdl:input message="tns:corroborarListaEnFav" name="corroborarListaEnFav">
    </wsdl:input>
      <wsdl:output message="tns:corroborarListaEnFavResponse" name="corroborarListaEnFavResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciarSesion">
      <wsdl:input message="tns:iniciarSesion" name="iniciarSesion">
    </wsdl:input>
      <wsdl:output message="tns:iniciarSesionResponse" name="iniciarSesionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListaPorDefecto">
      <wsdl:input message="tns:obtenerDataListaPorDefecto" name="obtenerDataListaPorDefecto">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataListaPorDefectoResponse" name="obtenerDataListaPorDefectoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlbum">
      <wsdl:input message="tns:agregarAlbum" name="agregarAlbum">
    </wsdl:input>
      <wsdl:output message="tns:agregarAlbumResponse" name="agregarAlbumResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDataListaParticular">
      <wsdl:input message="tns:retornarDataListaParticular" name="retornarDataListaParticular">
    </wsdl:input>
      <wsdl:output message="tns:retornarDataListaParticularResponse" name="retornarDataListaParticularResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkNicknameAvailability">
      <wsdl:input message="tns:checkNicknameAvailability" name="checkNicknameAvailability">
    </wsdl:input>
      <wsdl:output message="tns:checkNicknameAvailabilityResponse" name="checkNicknameAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerSeguidosDe">
      <wsdl:input message="tns:obtenerSeguidosDe" name="obtenerSeguidosDe">
    </wsdl:input>
      <wsdl:output message="tns:obtenerSeguidosDeResponse" name="obtenerSeguidosDeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAlbumAvailability">
      <wsdl:input message="tns:checkAlbumAvailability" name="checkAlbumAvailability">
    </wsdl:input>
      <wsdl:output message="tns:checkAlbumAvailabilityResponse" name="checkAlbumAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListaParticualaresPublicas">
      <wsdl:input message="tns:obtenerDataListaParticualaresPublicas" name="obtenerDataListaParticualaresPublicas">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataListaParticualaresPublicasResponse" name="obtenerDataListaParticualaresPublicasResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUCorreoAvailability">
      <wsdl:input message="tns:checkUCorreoAvailability" name="checkUCorreoAvailability">
    </wsdl:input>
      <wsdl:output message="tns:checkUCorreoAvailabilityResponse" name="checkUCorreoAvailabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarArtista">
      <wsdl:input message="tns:agregarArtista" name="agregarArtista">
    </wsdl:input>
      <wsdl:output message="tns:agregarArtistaResponse" name="agregarArtistaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbumes">
      <wsdl:input message="tns:obtenerDataAlbumes" name="obtenerDataAlbumes">
    </wsdl:input>
      <wsdl:output message="tns:obtenerDataAlbumesResponse" name="obtenerDataAlbumesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearListaParticular">
      <wsdl:input message="tns:crearListaParticular" name="crearListaParticular">
    </wsdl:input>
      <wsdl:output message="tns:crearListaParticularResponse" name="crearListaParticularResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PublicadorServiceSoapBinding" type="tns:IPublicador">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="devolverRegistroTema">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="devolverRegistroTema">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="devolverRegistroTemaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarListaParticular">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="actualizarListaParticular">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarListaParticularResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTemasDeAlbumes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerTemasDeAlbumes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerTemasDeAlbumesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListasPorGenero">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataListasPorGenero">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataListasPorGeneroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarListasParticularesDeCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarListasParticularesDeCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarListasParticularesDeClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="publicarLista">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="publicarLista">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="publicarListaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearTemaCasiCompleto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="crearTemaCasiCompleto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="crearTemaCasiCompletoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreTemasFavCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerNombreTemasFavCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerNombreTemasFavClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerLos100MasPopulares">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerLos100MasPopulares">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerLos100MasPopularesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dejarDeSeguirUsuario">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dejarDeSeguirUsuario">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dejarDeSeguirUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerTemasDeListas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerTemasDeListas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerTemasDeListasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarListaDeFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="eliminarListaDeFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarListaDeFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbumesPorGenero">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataAlbumesPorGenero">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataAlbumesPorGeneroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDataListaPorDefecto2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarDataListaPorDefecto2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarDataListaPorDefecto2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarGenero">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="actualizarGenero">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarGeneroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarAlbumesDelGenero">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarAlbumesDelGenero">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarAlbumesDelGeneroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seguirUsuario">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="seguirUsuario">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="seguirUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarListaEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarListaEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarListaEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTemaALista">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarTemaALista">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarTemaAListaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkSiEsGenero">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkSiEsGenero">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkSiEsGeneroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarSuscripcion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarSuscripcion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarSuscripcionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarTema">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarTema">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarTemaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarTemaEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="corroborarTemaEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="corroborarTemaEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataArtistas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataArtistas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataArtistasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerSeguidoresDe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerSeguidoresDe">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerSeguidoresDeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSuscripcion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSuscripcion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSuscripcionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataSuscripciones">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataSuscripciones">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataSuscripcionesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hiroshimaYNagasaki">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hiroshimaYNagasaki">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hiroshimaYNagasakiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataSuscripcionPorID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataSuscripcionPorID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataSuscripcionPorIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreListasFavCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerNombreListasFavCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerNombreListasFavClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTemaDeFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="eliminarTemaDeFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarTemaDeFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarSuscripcion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="actualizarSuscripcion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarSuscripcionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarTema2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarTema2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarTema2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerGeneros">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerGeneros">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerGenerosResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarAlbumEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="corroborarAlbumEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="corroborarAlbumEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbum">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataAlbum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataAlbumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlbumEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarAlbumEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarAlbumEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarUsuario">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarUsuario">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataClientes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataClientes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataClientesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoUsuario">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTipoUsuario">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTipoUsuarioResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="devolverInformacionListaRepro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="devolverInformacionListaRepro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="devolverInformacionListaReproResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarAlbumDeFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="eliminarAlbumDeFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarAlbumDeFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTema">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="actualizarTema">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="actualizarTemaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTemaEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarTemaEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarTemaEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarRegistro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarRegistro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarRegistroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerNombreAlbumesFavCliente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerNombreAlbumesFavCliente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerNombreAlbumesFavClienteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="corroborarListaEnFav">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="corroborarListaEnFav">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="corroborarListaEnFavResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="iniciarSesion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="iniciarSesion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="iniciarSesionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListaPorDefecto">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataListaPorDefecto">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataListaPorDefectoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarAlbum">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarAlbum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarAlbumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retornarDataListaParticular">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="retornarDataListaParticular">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retornarDataListaParticularResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkNicknameAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkNicknameAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkNicknameAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerSeguidosDe">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerSeguidosDe">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerSeguidosDeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkAlbumAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkAlbumAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkAlbumAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataListaParticualaresPublicas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataListaParticualaresPublicas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataListaParticualaresPublicasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUCorreoAvailability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkUCorreoAvailability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkUCorreoAvailabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarArtista">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarArtista">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarArtistaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDataAlbumes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerDataAlbumes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerDataAlbumesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearListaParticular">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="crearListaParticular">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="crearListaParticularResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicadorService">
    <wsdl:port binding="tns:PublicadorServiceSoapBinding" name="PublicadorPort">
      <soap:address location="http://localhost:9128/publicador"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>